<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Appointments List</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>

<section class="section__container admin__container">
    <h2>Appointments List</h2>
    <table class="appointments__table">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Booked At</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment[0] }}</td>
            <td>{{ appointment[1] }}</td>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[4] }}</td>
            <td>{{ appointment[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

</body>
</html>
